nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  backdrop-filter: blur(10px);
}
.nav-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}
ul .nav-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
}
.nav-menu a {
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 7px;
}
.nav-menu a:hover {
  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
.sign-in-button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sign-in-button:hover {
  background-color: #151516;
  color: #fff;
}
.hamburger-menu {
  display: none;
  color: #222;
  font-size: 1.9rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
}
@media (max-width: 900px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  ul.open li {
    flex-direction: column;
  }
  ul {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #01959a, #03a9ad);
    position: absolute;
    top: 90px;
    right: -100%;
    width: 40%;
    border-radius: 13px;
    padding: 15px 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.6s ease-in-out, visibility 0.6s linear 0.6s;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  ul.open {
    right: 10px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease-in-out;
  }
}
