.about-background {
  background: url(../../assets/pexels-brett-sayles-2310604.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-background h1 {
  margin-bottom: 35px;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  padding: 3rem 0;
}
.about-description {
  border-radius: 7px;
  padding: 1rem 0.8rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0 0 3px #bad4c7, 0 0 6px #bad4c7, 0 0 9px #bad4c7;
}
.about-description h1 {
  font-size: 1.9rem;
}
@media (max-width: 900px) {
  .about-background h1 {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  .about-description h1 {
    font-size: 1.2rem;
  }
  .about-description p {
    font-size: 0.8rem;
  }
}
